@media only screen and ( max-width: 992px ){
    .menu-box{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .service{
        width: 50%;
    }
}
@media only screen and ( max-width: 552px ){
    .service{
        width: 100%;
    }
}
@media only screen and (max-width: 752px) {
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer .part{
        margin-bottom: 3rem;
    }
    #links{
        text-align: left;
    }
    .about{
        padding: 0 0 10vh 0;
    }
}