*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Padauk', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
}
header{
    position: relative;
    height: 100vh;
    background-image: url('../images/1.jpg');
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}
.nav-part{
    position: fixed;
    z-index: 9999999999999;
}
.contact{
    background-color: #333;
    color: #ddd;
    position: relative;
    flex-wrap: wrap;
}
.call{
    color: #ddd;
}
.call:hover{
    color: #3498db;
}
nav, .contact{
    padding: 1.5rem 15vw;
    z-index: 9999;
    position: fixed;
    height: 70px;
    width: 100%;
}
nav, .contact, .nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    background-color: #ddd;
    top: 70px;
}
.scrolling{
    top: 0;
}
.nav-links li a{
    color: #333;
    margin: 0 1.5rem;
}
.nav-links li a:hover{
    color: #3498db;
}
.menu-box{
    cursor: pointer;
    display: none;
}
.menu-box div{
    background-color: #333;
    height: 3px;
    width: 2rem;
    margin: 4px 0;
    transition: .5s ease;
}
.box1{
    transform: rotate(45deg) translate(5px, 5px);
}
.box3{
    transform: rotate(-45deg) translate(5px, -5px);
}
.header-text{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #3498db;
}
.header-text h2{
    font-size: 6rem;
}
.header-text p{
    font-size: 4rem;
}

/* Serive Section*/
.services{
    position: relative;
    padding: 0 15%;
} 
.service-part2{
    margin-top: 6rem;
}
.main1{
    text-align: center;
    text-transform: uppercase;
}
.service-part2 #p{
    color: #333;
    font-size: 2.5rem;
    opacity: .7;
}
.service-part2 h3{
    color: #3498db;
    font-size: 3rem;
    margin: 1rem 0 3rem 0;
}
.types2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.offer{
    width: 30%;
    text-align: center;
    opacity: .7;
    margin-bottom: 1rem;
    color: #3498db;
}
.offer i{
    color: rgb(47, 255, 92);
    margin-right: 2rem;
}

/* About Section*/
.about{
    margin-top: 10vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.472), rgba(0, 0, 0, 0.472)), url('../images/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding: 10vh 10vw;
    position: relative;
    color: #eee;
}
.text-one, h2{
    text-transform: uppercase;
}
.text-one{
    font-size: 4rem;
}
h2{
    font-size: 6rem;
}

/*Service-part1*/
.service-part1{
    display: flex;
    margin-top: 10vh;
    flex-wrap: wrap;
}
.service{
    text-align: center;
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}
#one{
    background-image: url('../images/motor.jpeg');
}
#two{
    background-image: url('../images/body.jpg');
}
#three{
    background-image: url('../images/chassis.jpg');
}
#four{
    background-image: url('../images/transmission.jpg');
}
.service h4{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

/* Footer section*/
footer{
    display: flex;
    background-color: #333;
    color: #636e72;
    justify-content: space-between;
    padding: 5vh 10vw;
}
.part{
    width: 26vw;
}
#links{
    text-align: center;
}
#links a{
    color: #636e72;
}
footer i, footer #links a:hover{
    color: #3498db;
}
footer i{
    margin-right: 1rem;
}